$max-width: 1200px;
$gutter: 20px;

$color-1: #000;
$color-2: #999;
$color-3: #aaa;
$color-4: #ccc;
$color-5: #2d2;
$color-6: #1a1;
$color-7: #fcffd2;
$color-8: #cc9694;

$font-main: "Lora", "Times New Roman",serif;
$font-head: "Roboto Mono", "Courier New", monospace;

$trans: 300ms ease-in-out;
